body {
	background-color: black;
}

h1 {
	margin: auto;
	width: 50%;
	font-family: lucida console;
	text-align: center;
	color: silver;
	padding-top: .5em;
	padding-bottom: .5em;
}

#map-canvas{
  margin: auto;
  height: 500px;
  width: 900px;
  border: 3px solid silver;
  border-style: dashed;
}

a:link, a:visited {
    color: silver;
}